.planeta{
    font-size: 6em;

}

.emoji{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    .situacao{
        font-size: 4em;
    }
    .acoes{
        display: flex;
        flex-direction: column;
    }
}